.auth-header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  .top {
    height: 80px;
    background-color: #ffffff;
    .navbar-brand {
      display: flex;
      align-items: center;
    }
  }
  .navbar-toggler-icon {
    cursor: pointer;
  }
}

.auth-body-container {
  font-family: Robost;
  background-color: #8282821f;
  display: flex;

  .body-container {
    width: 100%;
    margin: 10px 10px 0px 10px;
    overflow-y: hidden;
    height: 100vh;
  }
}
