// Sidebar.scss

.sidebar {
  background: #fff;
  // margin-top: 80px;
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 1050;
  left: 0px;

  .close-icon {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    img {
      width: 15px;
    }

    &:hover {
      color: red;
    }

    cursor: pointer;
  }

  .user-header {
    margin-top: 30px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 70px;
      width: 70px;
    }

    .full-name {
      font-size: 20px;
      font-family: Roboto;
      color: #ff5733;
      text-transform: uppercase;
      margin-top: 10px;
    }

    a {
      font-size: 12px;
      cursor: pointer;
      color: #000000ad;
      font-weight: 600;
    }
  }

  .list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: Roboto;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;

    .list-items {
      padding: 10px 15px 10px 50px;
      margin-top: 10px;
      cursor: pointer;

      span {
        text-decoration: none;
        color: #ff5733;
      }
    }

    .list-items:hover,
    .active {
      background-color: #ff5733;
      box-shadow: 0px 1px 4px 0px #ff5733;

      span {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .wallet-header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 30px;
    }
    a {
      font-size: 12px;
      cursor: pointer;
      font-weight: 600;
      color: #000000ad;
    }
    .amount {
      font-size: 12px;
    }
  }
}

.divider-line {
  color: #828282;
  margin: 10px;
}

.primary-text {
  color: #828282;
}

// Navbar avatar.
.avatar {
  height: 75%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  right: 10px;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 30px;
    transform: rotate(180deg);
    &.cross {
      height: 20px;
      width: 20px;
    }
  }
  .dropdown-icon {
    width: 25px;
    margin-top: 0px;
    &.active {
      transform: rotate(180deg);
    }
  }
}
